.navbar {
  overflow: hidden;
  background-color:crimson;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar .TopBar{
display:flex;
align-items:center;
justify-content: space-between;
}

.navbar .Title{
  color:black;
  font-weight:800;
  font-size:28px;
}

.navbar .menu li{
  list-style:none;
  display:inline-block;
}

.navbar .menu li a{
  color:white;
  font-size:18px;
  font-weight:500;
  margin-left:25px;
  transition:color 0.3s ease;
}

.menu li a:hover{
  color:black;
}

/* home */
.main {
  padding: 16px;
  margin-top: 30px;
  height: 300px; 
}

.main h1{
  color:Crimson;
  text-align: center;
  font-size:100px;
}

.main h2{
  Color:Blue;
  text-align: center;
  font-size:50px;
}
.soc {
  list-style-type: none;
  left: 0px;
  bottom: 5px;
  display:flex;
  justify-content: flex-end;
}

.soc li img{
  transform: scale(1);
  margin-left: 10px;
  opacity: 1 ;
}

.soc li img:hover{
  transform: scale(1.5); 
}

/* About me */
.main h3{
  color:Black;
  text-align: center;
  font-size:100px;
}
.column {
  display:flex;
  
}
.column .content{
  color:Black;
  text-align: left;
  font-size:30px;
}
.content a:hover{
  color:green;
}

/* Projects */
.column .card{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 40%;
  height: 20vh;
  margin: 0 auto;
  border-style: solid;
  border-width: 2px

} 
.column .card p{
  font-size: 20px;
  color: blue;
  margin: 2px,0 2px 0 ;

}

.column header{
  font-size: 25px;
  color: blue;
  margin: 10px 0 7px 0;
}
  
.projects .column header:hover{
  transform: scale(1);
  color: red;
  cursor: pointer;
}

/* Contact */
.text2 p{
  font-size: 27px;
  color: blue;
  text-align: left;
  justify-content: space-between;
  display: flex;
  margin: 5px 50px; 
  padding: 0 0 0 20px; 

}

.text2 a {
  margin: 5px 50px; 
  padding: 0 0 0 20px; 
  font-size: 27px;



}
.text2 a:hover{
  transform: scale(1);
  color: red;
  cursor: pointer;
}